@mixin popupHidden {
  opacity: 0;
  visibility: hidden;
}

@mixin popupVisible {
  visibility: visible;
  animation: optionsAnimationUp .25s forwards;

  @media (min-width: 768px) {
    opacity: 1;
  }
}
